### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [21]:
# File to Load (Remember to Change These)
purchase_data_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data_file,encoding="iso-8859-15", low_memory=False )

# format the price with $ and two decimals
purchase_data["Price"] = purchase_data["Price"].map("${:.2f}".format)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [3]:
# count the number of players
totalplayers = len(purchase_data["SN"].unique())

# create a dataframe for players and display the total 
players_df = pd.DataFrame({"Total Players":[totalplayers]})

players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# calculate values for purchasing analysis
# unique items
nr_unique_items=len(purchase_data["Item ID"].unique())

# average price calculation and round it to two decimals
avg_price=round(purchase_data["Price"].mean(),2)

#purhcases count
nr_purchases=purchase_data["Purchase ID"].count()

#total revenue based on the provided prices
total_revenue=(purchase_data["Price"]).sum()

# create a dataframe for purchasing analysis; $ format for prices and revenue    
analysistotal_df=pd.DataFrame({"Number of Unique Items":[nr_unique_items], 
                               "Average Price":"$"+str(avg_price), 
                               "Number of Purchases":[nr_purchases], 
                               "Total Revenue":"$"+str(total_revenue)})

analysistotal_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Percentage and Count of Male Players
male_df=purchase_data.loc[purchase_data["Gender"]=="Male",["Gender","Purchase ID","SN","Price"]]
male_count=male_df["SN"].unique().size
male_percentage=round((male_count/totalplayers),4)

# Percentage and Count of Female Players
female_df=purchase_data.loc[purchase_data["Gender"]=="Female",["Gender","Purchase ID","SN","Price"]]
female_count=female_df["SN"].unique().size
female_percentage=round((female_count/totalplayers),4)

Percentage and Count of Other / Non-Disclosed
other_df=purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",["Gender","Purchase ID","SN","Price"]]
other_count=other_df["SN"].unique().size
other_percentage=round((other_count/totalplayers),4)

# Rows details
gender_rows = [[male_count,male_percentage], [female_count,female_percentage], [other_count,other_percentage]]

#create a dataframe for gender demographics
gd_df = pd.DataFrame(gender_rows, index=("Male","Female","Other / Non-Disclosed"), 
                     columns=['Total Count', 'Percentage of Players'])

# Format the percentage of players  
gd_df['Percentage of Players'] = gd_df['Percentage of Players'].map("{:,.2%}".format)

# Display the table for gender demographics
gd_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# perform the male purchasing analysis
male_purchase_df=purchase_data.loc[purchase_data["Gender"]=="Male",["Gender","Purchase ID","SN","Price"]]
male_purchase_count=male_purchase_df["SN"].size
male_avg_price=round(male_purchase_df["Price"].mean(),2)
male_total_value=round(male_purchase_df["Price"].sum(),2)
male_avg_per_person=round(male_total_value/male_count,2)

# perform the female purchasing analysis
female_purchase_df=purchase_data.loc[purchase_data["Gender"]=="Female",["Gender","Purchase ID","SN","Price"]]
female_purchase_count=female_purchase_df["SN"].size
female_avg_price=round(female_purchase_df["Price"].mean(),2)
female_total_value=round(female_purchase_df["Price"].sum(),2)
female_avg_per_person=round(female_total_value/female_count,2)

# perform the other/Non disclosed gender purchasing analysis
other_purchase_df=purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",["Gender","Purchase ID","SN","Price"]]
other_purchase_count=other_purchase_df["SN"].size
other_avg_price=round(other_purchase_df["Price"].mean(),2)
other_total_value=round(other_purchase_df["Price"].sum(),2)
other_avg_per_person=round(other_total_value/other_count,2)

# Rows details
gender_analysis_rows = [[female_purchase_count,female_avg_price,female_total_value,female_avg_per_person], [male_purchase_count,male_avg_price,male_total_value,male_avg_per_person],[other_purchase_count,other_avg_price,other_total_value,other_avg_per_person]]

# create a dataframe for purchasisng analusys by gender
pag_df = pd.DataFrame(gender_analysis_rows, index=("Female","Male","Other / Non-Disclosed"), 
                      columns=['Purchase Count', 'Average Purchase Price', 'Total Purchase Value','Avg Total Purchase per Person'])

# format purchase price related values to show $ and two decimals
pag_df["Average Purchase Price"] = pag_df["Average Purchase Price"].map("${:.2f}".format)
pag_df["Total Purchase Value"] = pag_df["Total Purchase Value"].map("${:.2f}".format)
pag_df["Avg Total Purchase per Person"] = pag_df["Avg Total Purchase per Person"].map("${:.2f}".format)

# display the table with the purchasing analysis by gender
pag_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# get rows details by using loc and sort the columns by players names
ad_players = purchase_data.loc[:, ["SN", "Age"]].groupby("SN").mean()

# Establish age bins and labels
age_bins=   [0,9,14,19,24,29,34,39,100]
age_labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# group the layers data into age bins with the corresponding labels
age_grouped = pd.cut(ad_players["Age"], age_bins, labels=age_labels)

# create an age grouped dataframe and count the players 
age_dem_df=pd.DataFrame(age_grouped.value_counts())

# format the players percentage
age_dem_df["Percentage of Players"]=(age_dem_df["Age"]*100/totalplayers).map("{:.2f}%".format)

# define the columns
age_dem_df.columns =["Total Count", "Percentage of Players"]

# name the age groups column
age_dem_df.index.name="Age Ranges"


age_dem_df

            Total Count Percentage of Players
Age Ranges
20-24               258                44.79%
15-19               107                18.58%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
10-14                22                 3.82%
<10                  17                 2.95%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# get the data for purchasing analysis by age
pa_age=purchase_data.loc[:, ["Purchase ID","SN", "Age", "Gender","Item ID","Item Name"]].groupby("SN").mean()

# create bins and labels for the age ranges
pa_age_bins=   [0,9,14,19,24,29,34,39,100]
pa_age_labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# separate the data into age bins with specific labels
purchase_data["Age Ranges"]=pd.cut(purchase_data["Age"],pa_age_bins,labels=pa_age_labels)
purchase_data_byageranges=purchase_data.groupby("Age Ranges")

# calculate the purchase count 
pa_count_byageranges=purchase_data_byageranges["Purchase ID"].count()

# calculate the average price 
pa_avg_price_byageranges=purchase_data_byageranges["Price"].mean()

# calculate the total purchase value
pa_total_purchase_value_byageranges=purchase_data_byageranges["Price"].sum()

# count the playesra nd calculate the average purchase per person by age ranges
pa_count_players_byageranges=purchase_data_byageranges["SN"].nunique()
pa_avg_per_person_byageranges=pa_total_purchase_value_byageranges/pa_count_players_byageranges

# create a dataframe fro purchasing analysis by age ranges
pa_byageranges_df=pd.DataFrame({"Purchase Count":pa_count_byageranges,
                               "Average Purchase Price":pa_avg_price_byageranges,
                               "Total Purchase Value": pa_total_purchase_value_byageranges,
                               "Avg Purchase Total per Person": pa_avg_per_person_byageranges })

# format the data
pa_byageranges_df["Average Purchase Price"] = pa_byageranges_df["Average Purchase Price"].map("${:.2f}".format)
pa_byageranges_df["Total Purchase Value"] = pa_byageranges_df["Total Purchase Value"].map("${:.2f}".format)
pa_byageranges_df["Avg Purchase Total per Person"] = pa_byageranges_df["Avg Purchase Total per Person"].map("${:.2f}".format)

# dislat the results from the purchasing analysis by age ranges
pa_byageranges_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# group the data by players
spenders_data=purchase_data.groupby("SN")

# count the purchases by players
spenders_purchase_count=spenders_data["Purchase ID"].count()

# calculate the average purchase price by player
spenders_avg_purchase_price=spenders_data["Price"].mean()

# calculate the total purchase value by player
spenders_total_purchase_value=spenders_data["Price"].sum()

# create a dataframe for teh results of the top spenders data
spenders_df=pd.DataFrame({"Purchase Count":spenders_purchase_count,
                          "Average Purchase Price": spenders_avg_purchase_price,
                          "Total Purchase Value": spenders_total_purchase_value})

# Sort the total purchase value column in descending order
spenders_df_sort=spenders_df.sort_values((["Total Purchase Value"]),ascending=False)

# format the data displayed
spenders_df_sort["Average Purchase Price"] = spenders_df_sort["Average Purchase Price"].map("${:.2f}".format)
spenders_df_sort["Total Purchase Value"] = spenders_df_sort["Total Purchase Value"].map("${:.2f}".format)

# display the table with the top spenders on top
spenders_df_sort.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# select data for the most popular items calculations
items_data=purchase_data[["Item ID","Item Name","Price"]]

# group by Item ID and Item Name
items_data_grouped=items_data.groupby(["Item ID","Item Name"])

# calculate the purchase count
items_purchase_count=items_data_grouped["Price"].count()

# calculate the total purchase value by item
items_purchase_value=items_data_grouped["Price"].sum()

# calculate the items prices
items_price=items_purchase_value/items_purchase_count

# create a dataframe to show the items purchasing information
items_most_popular_df=pd.DataFrame({"Purchase Count":items_purchase_count,
                                   "Item Price": items_price,
                                   "Total Purchase Value": items_purchase_value})
# sort the data with teh most populat items on top
most_popular_items_sort=items_most_popular_df.sort_values(["Purchase Count"], ascending=False)

# format the values to include $ symbol and to show the prices and total purchase value with two decimals
most_popular_items_sort["Item Price"] = most_popular_items_sort["Item Price"].map("${:.2f}".format)
most_popular_items_sort["Total Purchase Value"] = most_popular_items_sort["Total Purchase Value"].map("${:.2f}".format)

# display the items calculations resulst with the most popular items on top
most_popular_items_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [20]:
most_profitable_items_sort=items_most_popular_df.sort_values(["Total Purchase Value"], ascending=False)


most_profitable_items_sort["Item Price"] = most_profitable_items_sort["Item Price"].map("${:.2f}".format)
most_profitable_items_sort["Total Purchase Value"] = most_profitable_items_sort["Total Purchase Value"].map("${:.2f}".format)



most_profitable_items_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

Analysis conclusions

The Heroes of Pymoli purchasing data analysis shows the the revenue obtained from 780 purchases is $2,379.72.

Out of the 576 players, 484 are male, representing 84%, of the total players.The male players bring the highest purchase value, $1,967.64. However, the average purchase price for male players, $3.02, is slithly lower than the one for female players,$3.20 or other/non disclosed gender players, $3.35.

The analysis of the data by age ranges shows that the highest number of players, 258, is from the 20-24 age group, representing 44.79% out of the total players. At teh other end are the players that are older than 40, representing only 2.08% out of teh total players.

The total purchase value for 20-24 age group is $1,114.06, being the highest value for an age group.The lowest purchase value is for the over 40, $38.24. The highrst Average Purchase Total per Person is$4.76 for the 35-39 age group, while the lowest is $3.19 for the over 40's.

The top spender is Lisosia93 with 5 purchases and $18.96 total purchase value. 

The most popular item is Final Critic with 13 purchases and $59.99 total purchase value. This is closely followed by Oathbreaker, Last Hope of the Breaking Storm with 12 purchases and $50.76 total purchase value.